__pycache__
.venv
.env
*.pyc
token.json
token.pickle
credentials.json
env.yaml
deploy_env.yaml
*.log
.DS_Store
.idea/
.vscode/
data-excel/
tests-data/

.gemini/
gha-creds-*.json
tests/output/
scripts/output/
*.txt
!requirements.txt
!LICENSE
!README.md
!GEMINI.md
!DEPLOYMENT.md
!task.md

